
* {
    margin: 7px auto;
    padding: 0;
    letter-spacing: 1px;
    font-weight: 100;
}

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

main {
    margin-top: 30px;
    width: 60%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.218);
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.12);
}

header {
    margin-top: -20px;
    color: white;
    /* text-shadow: rgba(0, 0, 0, 0.444) 1px 1px 1px; */
    font-size: 20px;
}

.containerH1 {
    width: auto;
    background: rgb(132, 225, 228);
    padding: 20px;
    border-radius: 6px 6px 0px 0px;
    margin: -20px -20px 10px -20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.435);
}

.btn-go {
    width: 220px;
    height: 80px;
    background: rgb(132, 225, 228);
    border-radius: 5px;
    margin-top: 100px !important;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.177);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.331);
    text-shadow: rgba(0, 0, 0, 0.444) 1px 1px 1px;
    margin: 60px 0px;
    transition: all 0.5s;
    color: white;
    font-weight: 600;
}

.btn-go:hover {
    background: rgb(122, 204, 205);
    color: white;
    border-radius: 6px;
    transition: all 0.5s;
}

.body-sort {
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
    padding: 10px;
    text-shadow: rgba(0, 0, 0, 0.605) 1px 1px 1px;
    color: rgb(107, 206, 224);
}

.body-sort #number-result {
    margin-top: -50px;
    color: blue;
}

.body-sort h2 {
    font-size: 18px;
}

.body-sort h3 {
    font-size: 18px;
    margin: 20px 0px 10px 0px;
}

.body-sort #span-result {
    color: blue;
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {

    main {
        width: 80vw;
        background: white;
        border: 1px solid #000;
        text-align: center;
        border-radius: 6px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
    }

    .containerH1 h1{
        font-size: 24px;
        font-weight: bold;
    }

    .btn-go {
        width: 70%;
        height: auto;
        padding: 40px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 15px;
    }

    .body-sort {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .body-sort h2 {
        font-size: 14px;
    }
    
    .body-sort h3 {
        font-size: 14px;
        margin-top: 30px;
    }
}
