#div {
    position: absolute;
    width: 100%;
    height: 97%;
    display: none;
    z-index: -1;
}

.div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: white;
    width: 80vw;
    height: auto;
    position: absolute;
    border-radius: 8px;
    color: #000 !important;
    font-size: 26px !important;
    padding: 0px 80px;
    line-height: 40px;
    font-weight: 200;
    margin-top: 80px;
}
