
* {
    margin:  auto;
    padding: 0;
    letter-spacing: 1px;
    font-weight: 100;
}

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background-image: linear-gradient(to bottom, #8ec3ec, transparent);
    z-index: -1;
    background-repeat: no-repeat;
}

header {
    text-emphasis: center !important;
    margin-bottom: -9px;
    color: white;
    font-size: 26px;
    width: 89vw;
}

#contRegress {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    top: 40%;
    z-index: -1;
    color: rgb(0, 0, 0);
    font-size: 22px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89vw;
    height: 70vh;
    background: white;
    text-align: center;
    background: transparent;
    z-index: -1;
}

#div {
    position: absolute;
    width: 100%;
    height: 97%;
    display: none;
    z-index: -1;
}

.div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-image: linear-gradient(to bottom, #82b3d8, transparent);
    width: 80vw;
    height: auto;
    position: absolute;
    border-radius: 8px;
    color: #000 !important;
    font-size: 26px !important;
    padding: 0px 80px;
    line-height: 40px;
    font-weight: 200;
    /* margin-top: -70px; */
}

.containerH1 {
    text-align: center;
    margin: 10px 0px -40px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 5px 4px rgba(0, 0, 0, 0.524);
    font-size: 22px;
} 

details {
    width: 80vw;
    color: rgb(0, 0, 0);
    font-weight: 100;
    border-radius: 6px;
    font-size: 22px;
}

#all-names {
    position: relative;
    background: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    line-height: 40px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.33) 2px 4px 2px 1px;
    text-shadow: none;
    color: #000;
    z-index: 1;
}

details:hover {
    transition: 0.1s;
    cursor: pointer;
    transform: scale(1.02);
    color: rgba(0, 0, 255, 0.764);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.containerBtn {
    width: 80%;
}

.btn-go {
    flex: 1 0 0 ;
    height: auto;
    background: rgb(37, 112, 224);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.177);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.331);
    text-shadow: rgba(0, 0, 0, 0.444) 1px 1px 1px;
    transition: all 0.5s;
    color: white;
    font-weight: 600;
    width: 100% !important;
    padding: 20px;
    margin:  4px;
}

.tranform-scale {
    transform: scale(1.1);
    color: red !important;
    font-weight: bold !important;
}

.btn-Qtd {
    flex: 1 0 0 ;
    height: 57px;
    background: rgb(53, 226, 67);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.177);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.331);
    text-shadow: rgba(0, 0, 0, 0.444) 1px 1px 1px;
    transition: all 0.5s;
    color: white;
    font-weight: 600;
    width: 100% !important;
    padding: 20px;
    margin:  4px 0px 10px 0px;
}

.btn-clean {
    flex: 1 0 0 ;
    height: auto;
    background: rgb(231, 31, 31);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.177);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.331);
    text-shadow: rgba(0, 0, 0, 0.444) 1px 1px 1px;
    transition: all 0.5s;
    color: white;
    font-weight: 600;
    width: 100% !important;
    padding: 20px;
    margin:  4px;
}

.btn-save {
    flex: 1 0 0 ;
    background: darkcyan;
    height: auto;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.177);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.331);
    text-shadow: rgba(0, 0, 0, 0.444) 1px 1px 1px;
    transition: all 0.5s;
    color: white;
    font-weight: 600;
    width: 100% !important;
    padding: 20px;
    margin:  4px;
}

.btn-go:hover {
    background: rgb(30, 87, 173);
    color: white;
    border-radius: 6px;
    transition: all 0.5s;
}

.btn-Qtd:hover {
    background: rgb(76, 173, 84);
}

.btn-clean:hover {
    background: rgb(194, 24, 24);
}

.btn-save:hover {
    background: rgb(0, 102, 102);
}

#number-result {
    margin-top: -50px;
    color: blue;
}

.btn-ative {
    opacity: 0.5;
    transform: scale(black/white);
    cursor: not-allowed;
}

 h2 {
    font-size: 18px;
}

 h3 {
    font-size: 18px;
    margin: 20px 0px 10px 0px;
}

#span-result {
    color: blue;
    text-transform: uppercase;
}

@media screen and (max-width: 650px) {

    main {
        
    }

    .containerBtn {

    }

    .btn-clean,
    .btn-save,
    .btn-go,
    .btn-Qtd {
        flex: 1 0 0;
        width: 100%;
        margin: 4px; 
        font-size: 12px !important;
    }

    .containerH1 h1{
        font-size: 20px;
        font-weight: bold;
    }

    .btn-go, .btn-Qtd {
        font-size: 14px;
    }
}


@media screen and (max-width: 500px) {

    main {
        
    }

    .containerBtn {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .btn-go,
    .btn-Qtd
     {
         flex: 1 0 0;
        margin: 4px; 
        font-size: 12px !important;
    }

    .btn-clean,
    .btn-save {
        flex: 1 0 0;
        margin: 4px; 
        font-size: 12px !important;
    }


    .containerH1 h1{
        font-size: 20px;
        font-weight: bold;
    }

    .btn-go, .btn-Qtd {
        font-size: 14px;
    }
}
